 <!DOCTYPE html>
<html>

<head>
	<title>Vos dates de réservation</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	<p class="center">Cher {{session['prenom']}}, voici une liste des chambres proposées par l'hôtel, avec les commentaires laissés par les précédents clients.
	<form action="{{url_for('reservez_votre_chambre')}}" method="POST">
	  <label for="chambre">Le numéro de chambre que vous souhaitez réserver: </label><br>
	  <select id="chambre" name="chambre">
	  {% if listechambre %}
		{% for element in listechambre %}
		<option value="{{element[0]}}">{{element[0]}}</option>
		{% endfor %}
	{% endif %}
	  </select>
	<br>
	</form>
	
	<p class="center"> Veuillez maintenant choisir votre chambre et vos dates de réservation souhaitées:</p>
	<form action="{{url_for('reservez_votre_chambre')}}" method="POST">
	  <label for="arrivee">Date d'arrivée (après 16h en journée): <input type="date" id="arrivee" name="arrivee"></label><br>
	  <br>
	  <label for="depart">Date de départ (avant 12h en journée): <input type="date" id="depart" name="depart"></label><br>
	  <br>
	  <input type="submit" value="Validez vos dates">
	</form>
	
</body>

</html> 
