 <!DOCTYPE html>
<html>

<head>
	<title>Vos dates de réservation</title>
</head>

<body>
	<p>Cher {{session['prenom']}}, veuillez maintenant choisir vos dates de réservation souhaitées.</p>

	<form action="/action_page.php">
	  <label for="arrivee">Date d'arrivée (après 16h en journée): <input type="date" id="arrivee" name="arrivee"></label><br>
	  <br>
	  <label for="depart">Date de départ (avant 12h en journée): <input type="date" id="depart" name="depart"></label><br>
	  <br>
	  <input type="submit" value="Valider vos dates">
	</form>
	
</body>

</html> 
