 <!DOCTYPE html>
<html>

<head>
	<title>Accueil de votre hôtel</title>
</head>

<body>
	<h2>Bienvenue à notre hôtel OTELLO!</h2>
	<p>Veuillez s'il vous plaît choisir votre adresse email 
dans la liste déroulante ci-dessous, afin de lancer votre réservation dans une de nos chambres.</p>
 
 <!---Liste déroulante des emails utilisateurs déjà existants dans la BDD --->
	<form action="{{url_for('dates_de_reservation')}}" method="POST">  <!---syntaxe Flask  --->
	  <label for="emails">Choisir votre email:</label>
	  <select id="email" name="mail">
        {% if listemail %}
            {% for element in listemail %}
            <option value="{{element[0]}}">{{element[0]}} {{element[1]}}</option>
            {% endfor %}
        {% endif %}
	  </select>
	  <input type="submit">
	</form>

</body>

</html> 
