 <!DOCTYPE html>
<html>

<head>
	<title>Vos dates de réservation</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	 <table style="width:100%">
	  <tr>
	    <th>Numéro de chambre</th>
	    <th>Nom</th>
	    <th>Étage</th>
	    <th>Vue </th>
	    <th>Couchage</th>
	    <th>Salle de bain</th>
	  </tr>
	  <tr>
	  {% if chambres %}
		    <td>{{chambres.chambre_id}}</td>
		    <td>{{chambres.nom}}</td>
		    <td>{{chambres.étage}}</td>
		    <td>{{chambres.vue}}</td>
		    <td>{{chambres.couchage}}</td>
		    <td> Douche:{{chambres["salle de bain"].douche}}, Baignoire:{{chambres["salle de bain"].baignoire]}}</td>
	  {% endif %}
	  </tr>    
	</table> 
	
	<p class="center"> Une fois votre choix effectué, allez sélectionner la chambre que vous souhaitez réserver <a href="{{url_for('reservez_votre_chambre')}}">  sur la page de réservation en cliquant ici.</a> </p>
</body>