 <!DOCTYPE html>
<html>

<head>
	<title>Vos dates de réservation</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	 <table style="width:100%">
	  <tr>
	    <th>Numéro de chambre</th>
	    <th>Nom du client</th>
	    <th>Prénom du client</th>
	    <th>Date du commentaire</th>
	    <th>Date de début de séjour</th>
	    <th>Date de fin de séjour</th>
	    <th>Avis du client</th>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</table> 
</body>