 <!DOCTYPE html>
<html>

<head>
	<title>Vos dates de réservation</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	 <table style="width:100%">
	  <tr>
	    <th>Numéro de chambre</th>
	    <th>Nom du client</th>
	    <th>Prénom du client</th>
	    <th>Date du commentaire</th>
	    <th>Date de début de séjour</th>
	    <th>Date de fin de séjour</th>
	    <th>Avis du client</th>
	  </tr>
	  <tr>
	  {% if comments %}
		{%for element in comments %}
		    <td>{{element[0]}}</td>
		    <td>{{element[1]}}</td>
		    <td>{{element[2]}}</td>
		    <td>{{element[3]}}</td>
		    <td>{{element[4]}}</td>
		    <td>{{element[5]}}</td>
		    <td>{{element[6]}}</td>
		{% endfor %}
	  {% endif %}
	  </tr>    
	</table> 
	
	<p class="center"> Une fois votre choix effectué, allez sélectionner la chambre que vous souhaitez réserver <a href="{{url_for('reservez_votre_chambre')}}">  sur la page de réservation en cliquant ici.</a> </p>
</body>