 <!DOCTYPE html>
<html>

<head>
	<title>Réservez votre chambre</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	<p class="center"> Ensuite, sélectionnez la chambre que vous souhaitez réserver dans la liste déroulante ci-dessous.</p>
	
	<!--- Liste  des chambres utilisateurs déjà existantes dans la BDD Postgres --->
      	<ul>
	{% if listechambres %}
		{% for chambre in listechambres %}
			<li><a href="{{ url_for('chambre', id=chambre.num_chambre) }}">Chambre numéro : {{ chambre.num_chambre }}</a></li>
		{% endfor %}
	{% endif %}
	</ul>
</body>

</html> 